{:paths ["src"]

 :deps    {http-kit/http-kit    {:mvn/version "2.9.0-beta1"}
           org.babashka/json    {:mvn/version "0.1.6"}
           metosin/malli        {:mvn/version "0.20.0-alpha3"}
           djblue/portal        {:mvn/version "0.62.0"}
           com.github.seancorfield/honeysql {:mvn/version "2.7.1350"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           instaparse/instaparse {:mvn/version "1.5.0"}
           com.github.s-expresso/rubberbuf {:mvn/version "0.3.2"}}

 :aliases 
 {:cljs 
   {:extra-deps {reagent/reagent {:mvn/version "2.0.1"}
                 re-frame/re-frame {:mvn/version "1.4.3"}}}
  :shadow-cljs
   {:extra-deps {thheller/shadow-cljs {:mvn/version "3.2.1"}}
    :main-opts ["-m" "shadow.cljs.devtools.cli"]}

  :nrepl 
   {:extra-deps {nrepl/nrepl {:mv  n/version "1.4.0"}
                 cider/cider-nrepl {:mvn/version "0.58.0"}}
     :main-opts ["-m" "nrepl.cmdline"
                 "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]}}}